@use "component";



.container-1 {
  display: grid;
grid-template-columns: repeat(16, 1fr);
grid-template-rows:  1fr;



.index-box1 {
   grid-row: 1/2;
   grid-column: 1/-1;

   
 }
.index-box2  {
  @include  component.layout($gridRow: 2/3);
  background-color: component.$backGround_Color_dark;


}

.index-box3 {

  @include  component.layout($gridRow: 3/4);
  background-color: component.$backGround_Color_dark;
 
}
  
.index-box4 {
  grid-row: 4/5;
  grid-column: 1/-1;
  background-color: component.$darkGreen;
  color: component.$white;
  margin-top: 2em;
  
  }
   
.sass-box1{
  grid-row: 1/2;
  grid-column: 1/-1;

}

.sass-box2{
  @include  component.layout($gridRow: 2/3);
  background-color: component.$backGround_Color_dark;
 
  
}
.sass-box3{
  @include  component.layout($gridRow: 3/4);
  background-color: component.$backGround_Color_dark;

  
}
.sass-box4{
  grid-row: 4/5;
  grid-column: 1/-1;
  background-color: component.$darkGreen;
  color: component.$white;
  margin-top: 2em;
  }


}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   @media only screen and (min-width: 1200px) {
    
  
    .beach {

      
   max-width: 600px;
    }

    .mountain{

      max-width: 600px;
   }
        .menu-btn {
       display: none;
        }
   
        #open-menu {
       display: none !important;
       }
   
        header {
       position: static;
       }
   
       nav {
       display: block !important;
       position: static;
        height: auto;
   width: auto;
    }
   
     
      nav li {
    display: inline;
    
        }
   
      }


      @media (prefers-color-scheme: dark) {
    body {
    color: rgba(95, 89, 89, 0.945);
    background-color: component.$backGround_Color_dark70;

    }

.index-box3 {

  background-color: red ;
}

  }